@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --fg: #eee;
    --bg: #444;
}

html,
body{
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.dropdown{
    z-index: 3;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 4px;
    border-radius: 6px;
    color: var(--fg);
    background: var(--bg);
}

.dropdown-icon {
    display: block;
    user-select: none;
}

.dropdown-content {
    display: none;
}

.dropdown-content input{
    display: block;
}

.dropdown-content input[type=checkbox]{
    display: inline;
}

.dropdown:focus-within .dropdown-icon,
.dropdown:hover .dropdown-icon{
    display: none;
}

.dropdown:focus-within .dropdown-content,
.dropdown:hover .dropdown-content{
    display: block;
}

.checkboxes{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.hidden{
    display: none !important;
}

#source{
    display: block;
}

.link{
    color: #ccf;
    text-decoration: none;
    display: block;
}

.link:hover,
.link:focus{
    text-decoration: underline;
}

button{
    display: block;
}

label,
input{
    display: block;
    width: 90%;
}

#qr-code{
    z-index: 1;
    --size: min(90vh, 90vw);
    position: absolute;
    width: var(--size);
    height: var(--size);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#qr-code img{
    z-index: 1;
    width: 100%;
    height: 100%;
}

#exit-button{
    z-index: 2;
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: sans;
    color: white;
    background: red;
    padding: 3px;
    border-radius: 10px;
    user-select: none;
}

#exit-button:hover{
    cursor: pointer;
}

#qr-code:hover #exit-button{
    display: block;
}
